<!DOCTYPE html>
<html>
  <head>
    <title>Bugno</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= label_tag :projects_nav, class: 'fixed h-14 bottom-8 right-8 z-20 flex' do %>
      <div class="rounded-full bg-gray-800 w-14 p-2 cursor-pointer">
        <%= image_tag 'logo.svg', class: 'filter invert hover:opacity-75' %>
      </div>
    <% end %>
    <%= check_box_tag :projects_nav, :projects_nav, false, class: 'hidden navigation-checkbox' %>
    <div class="fixed inset-0 bg-white z-10 navigation flex flex-col justify-between text-center">
      <%= turbo_frame_tag 'projects', loading: :lazy, src: projects_path %>
      <%= link_to 'Exit', destroy_user_session_path, class: 'py-2 block text-white text-xl bg-red-400 hover:bg-red-500' %>
    </div>
    <%= yield %>
  </body>
</html>
